<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="estilo.css">
  <script src="https://unpkg.com/feather-icons"></script>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:500,600,700&display=swap" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <title>OKRme</title>
</head>

<body>
  <script src="https://www.gstatic.com/firebasejs/7.3.0/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.3.0/firebase-database.js"></script>
  <script src="configuracao-firebase.js"></script>

  <nav class="cabecalho">
    <img src="ativos/logo.svg" alt="Logo OKR" class="cabecalho__logo">
    <button type="button" class="botao botao_com-icone" onclick="abrirDialogoDeCriacaoDeObjetivo()">
      <i data-feather="plus-circle"></i>
      Criar novo objetivo
    </button>
  </nav>

  <div id="itemObjetivo">
    <div class="container" v-for="quarter in quartersDoUsuario">
      <h2 class="titulo titulo_cor-primaria">{{ quarter }}</h2>
      <!-- <section class="sessao" v-for="objetivo in quarter.objetivos">
        <div class="sessao__cabecalho">
          <div class="sessao__cabecalho-container-primario">
            <p class="texto texto_cinza texto_espacado">OBJETIVO</p>
            <h2 class="titulo">{{ objetivo.nome }}</h2>
            <p class="texto texto_cinza">{{objetivo.descricao}}</p>
          </div>

          <div class="sessao__cabecalho-container-secundario">
            <button type="button" class="botao botao_branco">
              <i data-feather="more-vertical"></i>
            </button>
          </div>
        </div> -->

        <!-- <div class="sessao__conteudo">
          <div class="sessao__item" v-for="item in objetivo.keyResults" v-bind:id="objetivo.keyResults.indexOf(item)"
            onclick="fazerCheckin(this)" title=" Clique para fazer checkin">
            <h2 class="titulo titulo_cinza titulo_pequeno">{{ item.nome }}</h2>
            <div class="regua">
              <span class="regua__traco"
                v-bind:style="{width: (item.valorAtual - item.valorInicial) / (item.valorFinal - item.valorInicial) * 100  + '%'}"></span>
              <div class="regua__valores">
                <span name="valorInicialkr1">{{ item.valorInicial }}</span>
                <span class="regua__valor-dinamico"
                  v-bind:style="{left: (item.valorAtual - item.valorInicial) / (item.valorFinal - item.valorInicial) * 100  + '%'}">
                  {{ ((item.valorAtual - item.valorInicial) / (item.valorFinal - item.valorInicial) * 100).toFixed(2)  + '%' }}
                </span>
                <span name="valorFinalkr1">{{ item.valorFinal }}</span>
              </div>
            </div>
          </div>
        </div> -->

        <!-- <div class="sessao__rodape">
          <h3 class="titulo titulo_pequeno">Total do objetivo</h3>
          <div class="regua">
            <span class="regua__traco" style="width: 71.75%"></span>
            <div class="regua__valores">
              <span>0%</span>
              <span class="regua__valor-dinamico" style="left: 71.75%">71.75%</span>
              <span>100%</span>
            </div>
          </div>
        </div> -->
      <!-- </section> -->
    </div>
  </div>

  <dialog class="dialogo">
    <div class="dialogo__corpo">
      <form class="formulario">
        <label for="quarter">Quarter</label>
        <select name="selecaoQuarter" id="quarter">
          <option value="Q1 - 2019">Quarter 1 - 2019</option>
          <option value="Q2 - 2019">Quarter 2 - 2019</option>
          <option value="Q3 - 2019">Quarter 3 - 2019</option>
          <option value="Q4 - 2019">Quarter 4 - 2019</option>
        </select>

        <label for="nomeDoObjetivo">Nome do objetivo</label>
        <input type="text" id="nomeDoObjetivo">

        <label for="descricaoDoObjetivo">Descrição</label>
        <textarea rows="3" id="descricaoDoObjetivo"></textarea>
      </form>
    </div>


    <div class="dialogo__rodape">
      <button type="button" class="botao botao_branco botao_com-icone" onclick="fecharDialogo()">
        <i data-feather="x"></i>
        Cancelar
      </button>

      <button type="button" class="botao botao_com-icone" onclick="criarObjetivo()">
        <i data-feather="save"></i>
        Salvar objetivo
      </button>
    </div>
  </dialog>

  <script>
    let modal = document.querySelector('dialog')

    function abrirDialogoDeCriacaoDeObjetivo() {
      modal.showModal()
    }

    function fecharDialogo() {
      modal.close()
    }

    feather.replace()
  </script>
  <script src="index.js">
  </script>
</body>

</html>